.app {
    background-color: #f4f4f8;
    display: flex;
    flex-direction: column;
}

.app__body{
    display: flex;
}

@media screen and (min-width:1000px) {
    .app__body{
        display: flex;
        flex-direction: row;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}